$color-primary: #17963e;
$color-primary-light: #51b06e;
$color-primary-ripple: #b4e1c1;
$color-secondary: #707070;
$color-secondary-ripple: #e2e2e2;
$color-secondary-darker: #676767;
$color-chez-text-border: #E5E5E5;
$color-secondary-light: #F8F8F8;
$color-thirty: #f0f0f0;
$color-ripple: #dfdfdf21;
$color-ripple-light : #919191;
$color-black: #000000;
$color-black-ripple : #0000000D ;
$color-black-dark: #0000000B;
$color-black-light : #00000029 ;
$color-white: #ffffff;
$color-box-shadow: #10161a33;
$color-bg-google: #0000000a;
$color-text-google: #707070;
$color-bg-facebook: #325495;
$color-bg-linkedin: #118dd8;
$color-filled-ripple: #00000054;
$color-ripple-white: #DEDEDE;
$sidebar-bg: #f7f7f7;
$color-white-clair: #9F9F9F;

$radio-checkedIcon-transparency: 15%;

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-infinite: 10000px;


@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
};

@mixin button-dark {
  border: 1px solid $color-text-google;
  color: $color-secondary-darker;
}

@mixin button-secondary-dark {
  font-weight: bolder;
  border: 1px solid $color-black;
  color: $color-black;
  padding: 0 2rem;
}

@mixin breakpoint($min, $max) {
  @media only screen and (min-width: $min) and (max-width: $max) {
    @content;
  }
}

@mixin mobileBreakpoint {
  @include breakpoint($breakpoint-xs, $breakpoint-sm) {
    @content;
  }
}

@mixin tabletBreakpoint {
  @include breakpoint($breakpoint-sm, $breakpoint-lg) {
    @content;
  }
}

@mixin desktopBreakpoint {
  @include breakpoint($breakpoint-lg, $breakpoint-infinite) {
    @content;
  }
}
